.body {
  background-color: #f5f5f5;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.h1 .h2 .h3,
.h4,
.h5,
.h6,
.p,
.ul,
.ol {
  margin: 0;
  padding: 0;
}

.content-section {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1100px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  max-width: 1100px;
  width: 100%;
}

.header__menu {
  grid-column: 1;
  justify-content: start;
  display: flex;
  padding-top: 132px;
  padding-bottom: 138px;
}

.header__logo {
  width: 100%;
  grid-column: 2;
  justify-content: center;
  display: flex;
  padding-top: 92px;
  padding-bottom: 96px;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  font-weight: 400;
  font-size: 18px;
  padding-left: 50px;
  text-underline-position: under;
}
.header__menu-link {
  word-spacing: 0.1em;
}

.header__menu-item-active {
  list-style: none;
}
.link-active {
  text-decoration: none;
}

.header__logo-image {
  height: 105px;
  width: 148px;
}

.header__address {
  justify-self: end;
  font-style: inherit;
  position: relative;
  right: 86px;
  bottom: 3px;
}

.address__item {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.address__address-text {
  font-size: 18px;
  line-height: 1.35;
  font-weight: 400;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  z-index: 1;
  position: relative;
  max-width: 1100px;
  height: 757px;
}

.overlay {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  inset: 0;
}
.cover__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  padding: 165px;
  letter-spacing: 0.3em;
  z-index: 2;
}

.aligned-text {
  display: block;
}
.aligned-text_left {
  text-align: left;
  transform: translateX(-114px);
}

.aligned-text_center {
  text-align: center;
  padding-top: 20px;
  margin-left: 30px;
}

.aligned-text_right {
  text-align: right;
  padding-top: 20px;
  transform: translateX(145px);
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  margin-top: -59px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 19px;
  padding-left: 50px;
}

.bet-button {
  border: 1px #fff solid;
  text-align: center;
  margin: auto;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  width: 256px;
  height: 51px;
  text-align: center;
  transform: translateX(-10px);
  position: relative;
}

.lots {
  max-width: 1052px;
  margin: 0 auto;
  padding: 180px 0 120px;
}

.lots__heading {
  padding-left: 40px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #0a0a0a;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  display: block;
  text-decoration: none;
}

.card {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  padding: 48px 40px 48px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  z-index: 2;
}

.card__text {
  z-index: 1;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 10px;
  display: block;
  margin: 30px 0 0 40px;
  text-underline-position: under;
  text-decoration-thickness: 1px;
}

.about__columns {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 32px;
  align-items: start;
  width: 100%;
  height: auto;
  padding-top: 25px;
}

.about__logo-background {
  width: 240px;
  height: 240px;
  background-color: #0a0a0a;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(70px);
}

.main__logo-image-white {
  width: 60%;
  height: auto;
  position: relative;
  margin-left: 3px;
  display: flex;
  justify-content: center;
}

.about__columns-text {
  display: flex;
  flex-direction: column;
  padding-top: 99px;
  transform: translateX(112px);
  max-width: 693px;
}

.about__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about__text-lead {
  padding-right: 15px;
  padding-top: 1px;
}

.about__columns-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 100px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
}

.address {
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #000;
  font-style: normal;
}
.footer__social-icon {
  width: auto;
  height: 48px;
}
.footer__menu {
  padding-bottom: px;
  padding-left: 7px;
}
.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}
